<div class="pagewidth">
  <div class="CentralArea">
    <div>
      <div class="edp">
        <div class="main-area">
          <div class="cnt">
            <mat-toolbar class="title">
              <h1>Create New Auction</h1>
            </mat-toolbar>
            <mat-card class="my-card">
              <mat-card-content class="mat-card-content">
                <div class="inner-cnt" style="visibility: visible;">
                  <div class="hgh">
                    <div class="form-field">
                      <mat-form-field class="full-width-title">
                        <mat-label class="label-title">Title</mat-label>
                        <input matInput placeholder="Title" id="title" required [(ngModel)]="auction.title" name="title"
                               maxlength="80" type="text" aria-required="true" autocomplete="off">
                      </mat-form-field>
                      <br>
                      <mat-form-field class="full-width-title">
                        <mat-label class="lable-title">Description</mat-label>
                        <input matInput placeholder="Description" id="description" required
                               [(ngModel)]="auction.description" name="description" autocomplete="off">
                      </mat-form-field>
                      <br>
                      <mat-form-field class="full-width-title">
                        <mat-label class="label-title">Bidding Price</mat-label>
                        <input matInput placeholder="Minimum Price" id="minimumPrice" required
                               [(ngModel)]="auction.minimumPrice" name="minimumPrice" autocomplete="off">
                      </mat-form-field>
                      <br>
                      <mat-form-field class="full-width-title">
                        <mat-label class="label-title">Buy Now Price</mat-label>
                        <input matInput placeholder="Buy Now Price" id="buyNow" required [(ngModel)]="auction.buyNow"
                               name="buyNow" autocomplete="off">
                      </mat-form-field>
                      <br>
                      <mat-form-field class="full-width-title">
                        <mat-label class="label-title">Image</mat-label>
                        <input matInput type="file" placeholder="Photos" id="photos" required
                               [(ngModel)]="auction.photos" name="photos" accept="image/*"
                               (change)="onFileSelected($event)"
                               autocomplete="off">
                      </mat-form-field>
                      <br>
                      <mat-form-field class="full-width-title">
                        <mat-label class="label-title">Categories</mat-label>
                        <mat-select>
                          <mat-option (click)="getCategoryById(category.id)" *ngFor="let category of categories"
                                      [value]="category.id">
                            {{category.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <mat-card-actions class="act-bar">
                  <button type="submit" class="btn btn-success" (click)="save()"
                          [disabled]="auction.photos==''">Submit
                  </button>
                </mat-card-actions>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
