<div class="mainContent" role="main">
  <div class="PartialReg">
    <mat-toolbar class="toolbar__title">
      <h1 class="title">Edit your information</h1>
    </mat-toolbar><br>
    <div class="wrapperConsolidator">
      <div class="ppaContainerWrapper">
        <div class="ppaContainer">
          <mat-card class="soc-en">
            <div>
              <div id="ariaPageId" class="clipped" role="region" aria-live="assertive"></div>
              <mat-card-content class="create-personal-account-with-email">
                <mat-form-field class="mat-form-field-fn">
                  <mat-label>First Name</mat-label>
                  <span>
                    <span class="floating-label">
                      <span class="textbox">
                        <input matInput placeholder="First name" id="firstName" [(ngModel)]="user.firstName"
                          name="firstName" required="*" autocomplete="off">
                      </span>
                    </span>
                  </span>
                </mat-form-field>
                <div class="separator__sub separator"></div>
                <mat-form-field class="mat-form-field-ln">
                  <mat-label>Last Name</mat-label>
                  <span>
                    <span class="floating-label">
                      <span class="textbox">
                        <input matInput placeholder="Last Name" id="lastName" [(ngModel)]="user.lastName"
                          name="lastName" required="*" autocomplete="off">
                      </span>
                    </span>
                  </span>
                </mat-form-field>
                <div class="separator__sub separator"></div>
                <mat-form-field class="mat-form-field-email">
                  <mat-label>Email</mat-label>
                  <span>
                    <span class="floating-label">
                      <span class="textbox">
                        <input matInput placeholder="Email" id="email" [(ngModel)]="user.email" name="email"
                          required="*" autocomplete="off">
                      </span>
                    </span>
                  </span>
                </mat-form-field>
                <mat-card-actions class="mat-card-actions">
                  <div><button type="submit" mat-raised-button color="primary" (click)="submitUser()">Update
                      account</button></div>
                </mat-card-actions>
              </mat-card-content>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>