<div id="mainBody" class="container col-lg-3 col-md-4 col-6">
  <div class="hl-leaderboard-ad"></div>
  <div class="hl-module" id="items_list">
    <div class="hl-card-header">
      <div class="hl-card-header__header-container">
        <div class="hl-card-header__title">
          <h2 class="hl-card-header__headline">
            <mat-card-title class="font-weight-light text-lg-center">Recently added auctions
            </mat-card-title>
          </h2>
        </div>
      </div>
    </div>
    <hr class="mt-2 mb-5 text-lg-center">
    <div class="hl-standard-carousel__container">
      <div>
        <div class="carousel" role="group" aria-roledescription="carousel">
          <div class="carousel__container">
            <span class="clipped" aria-live="polite">
              <span>Carousel showing slide 1 of 4</span>
            </span>
            <div class="carousel__viewport text-center text-lg-center">
              <ul class="carousel__list">
                <mat-card-content class="auctionDisplay col-lg-3 col-md-4 col-6"
                                  *ngFor="let recentlyAuction of recentlyAuctions">
                  <li class="hl-carousel__item" style="margin-right: 16px;">
                    <a [routerLink]="['/auction', recentlyAuction?.id]"
                       class="hl-item__link d-block mb-4 h-100 text-center">
                      <img class="img-thumbnail" src="{{s3BucketUrl}}{{recentlyAuction?.id}}"
                           style="height: 150px; opacity: 1;" alt=""><br>
                      <div><span class="hl-item__displayPrice">{{recentlyAuction?.title}}</span></div>
                    </a>
                    <span class="hl-item__displayPrice">Starting bid: {{recentlyAuction.minimumPrice}} USD</span>
                    <span class="hl-item__displayPrice">Buy It Now: {{recentlyAuction?.buyNow}} USD</span>
                  </li>
                </mat-card-content>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hl-leaderboard-ad"></div>
  <div class="hl-module" id="items_list">
    <div class="hl-card-header">
      <div class="hl-card-header__header-container">
        <div class="hl-card-header__title">
          <h2 class="hl-card-header__headline">
            <mat-card-title class="font-weight-light text-lg-center">Ending auctions
            </mat-card-title>
          </h2>
        </div>
      </div>
    </div>
    <hr class="mt-2 mb-5 text-lg-center">
    <div class="hl-standard-carousel__container">
      <div>
        <div class="carousel" role="group" aria-roledescription="carousel">
          <div class="carousel__container">
            <span class="clipped" aria-live="polite">
              <span>Carousel showing slide 1 of 4</span>
            </span>
            <div class="carousel__viewport text-center text-lg-center">
              <ul class="carousel__list">
                <mat-card-content class="auctionDisplay col-lg-3 col-md-4 col-6"
                                  *ngFor="let endingAuction of endingAuctions">
                  <li class="hl-carousel__item" style="margin-right: 16px;">
                    <a [routerLink]="['/auction', endingAuction?.id]"
                       class="hl-item__link d-block mb-4 h-100 text-center">
                      <img class="img-thumbnail" src="{{s3BucketUrl}}{{endingAuction?.id}}"
                           style="height: 150px; opacity: 1;" alt=""><br>
                      <div><span class="hl-item__displayPrice">{{endingAuction?.title}}</span></div>
                    </a>
                    <span class="hl-item__displayPrice">Starting bid: {{endingAuction?.minimumPrice}} USD</span>
                    <span class="hl-item__displayPrice">Buy It Now: {{endingAuction?.buyNow}} USD</span>
                  </li>
                </mat-card-content>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hl-leaderboard-ad"></div>
  <div class="hl-module" id="items_list">
    <div class="hl-card-header">
      <div class="hl-card-header__header-container">
        <div class="hl-card-header__title">
          <h2 class="hl-card-header__headline">
            <mat-card-title class="font-weight-light text-lg-center">Recently ended auctions
            </mat-card-title>
          </h2>
        </div>
      </div>
    </div>
    <hr class="mt-2 mb-5 text-lg-center">
    <div class="hl-standard-carousel__container">
      <div>
        <div class="carousel" role="group" aria-roledescription="carousel">
          <div class="carousel__container">
            <span class="clipped" aria-live="polite">
              <span>Carousel showing slide 1 of 4</span>
            </span>
            <div class="carousel__viewport text-center text-lg-center">
              <ul class="carousel__list">
                <mat-card-content class="auctionDisplay col-lg-3 col-md-4 col-6"
                                  *ngFor="let recentlyEndedAuction of recentlyEndedAuctions">
                  <li class="hl-carousel__item" style="margin-right: 16px;">
                    <a [routerLink]="['/auction', recentlyEndedAuction?.id]"
                       class="hl-item__link d-block mb-4 h-100 text-center">
                      <img class="img-thumbnail" src="{{s3BucketUrl}}{{recentlyEndedAuction?.id}}"
                           style="height: 150px; opacity: 1;" alt=""><br>
                      <div><span class="hl-item__displayPrice">{{recentlyEndedAuction?.title}}</span></div>
                    </a>
                    <span class="hl-item__displayPrice">Starting bid: {{recentlyEndedAuction?.minimumPrice}} USD</span>
                    <span class="hl-item__displayPrice">Buy It Now: {{recentlyEndedAuction?.buyNow}} USD</span>
                  </li>
                </mat-card-content>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
