html,
body {
  height: 100%;
  font-family: "Market Sans", Arial, sans-serif;
}

body {
  min-width: 600px;
  margin: 0;
  font-size: 0.875rem;
  -webkit-text-size-adjust: 100%;
  background-color: var(--color-background-default, #fff);
  color: var(--color-text-primary, #111820);
}

html {
  font-size: 100%;
  display: block;
}

head {
  display: none;
}
