<div>
    <div class="main">
        <div class="mainContent" role="main" tabindex="-1">
            <div class="head">
                <div class="title">
                    <h1>Delivery address</h1>
                </div>
            </div>
            <div>
                <div class="container">
                    <div class="row">
                        <div class="addressList" *ngFor="let address of addresses" style="display: flex;">
                            <div class="addresswidth">
                                <span>{{address?.city}}<br></span>
                                <span>{{address?.address}}<br></span>
                            </div>
                            <div class="editButton">
                                <button class="edit" routerLink="/update/address/{{address?.id}}">Update Current
                                    Address</button>
                                <div style="margin-bottom: 5px;"></div>
                                <button class="delete" type="button" (click)="deleteAddress(address?.id)">Delete Current
                                    Address</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <a class="addAddress" tabindex="0" href="/create/address">Add New Address</a>
    </div>
</div>
